.custom-input {
  border: none;
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 15%);
  border-radius: 50px;
  border: solid 2px #ffffff00;
  padding: 10px;
  transition: all 0.2s ease;
  &:focus {
    border: solid 2px $secondary;
    color: $secondary;
  }

  &::placeholder{
    font-size: 1rem;
    color: $grey;
  }
}
