.main-layout {
  padding: 0 1rem;
  @include for-mobile-up {
    padding: 0 2rem;
  }
  @include for-tablet-up {
    padding: 0 4rem;
  }
  @include for-desktop-sm-up {
    padding: 0 6rem;
  }
  @include for-desktop-md-up {
    padding: 0 8rem;
  }
  @include for-desktop-lg-up {
    padding: 0 10rem;
  }
}

.header-layout{
  padding: 0 0.5rem;
  @include for-mobile-up {
    padding: 0 1rem;
  }
  @include for-tablet-up {
    padding: 0 2rem;
  }
  @include for-desktop-sm-up {
    padding: 0 4rem;
  }
}