//Colors
$lightgrey:#eff3f7;
$grey:#e0e5e9;
$black:#333;
$white:#fff;
$primary:#2966eb;
$primarylight:#4580FF;
$primarydark:#0D3B9E;
$secondary:#EB3F8A;
$secondarylight:#F74391;
$secondarydark:#D1387B;